<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>


       <section th:fragment="empleados">
            <section class="py-4 mb-4 bg-light">
                <div style="display: flex">
                    <div class="col-md-3">   
                        <a th:href="@{/empleados/listado}"
                           class="mx-5 btn btn-primary">
                            <i class="fa-solid fa-arrow-left"></i> regresar
                        </a>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form th:action="@{/empleados/guardar}" method="post"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" id="IdEmpleado" name="IdEmpleado" th:value="${idUltimoEmpleado}"/>

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Agregar</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control"  id="nombre" 
                                                       name="nombre"  required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                 <label>Apellido </label>
                                                <input type="text" class="form-control"id="apellido" name="apellido" 
                                                       required="true"/>
                                            </div>
                                             <div class="mb-3">
                                                 <label>Direccion</label>
                                                <input type="text" class="form-control"id="direccion" name="direccion" 
                                                       required="true" maxlength="100"/>
                                            </div>
                                            <div class="mb-3">
                                                 <label>Numero de telefono</label>
                                                <input type="number" class="form-control"id="numTelefono" name="numTelefono" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                 <label>Correo</label>
                                                <input type="email" class="form-control"id="correoElect" name="correoElect" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                 <label>Salario</label>
                                                 <input type="number" class="form-control"id="salario" name="salario" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                 <label>Fecha ingreso</label>
                                                 <input type="date" class="form-control"id="FechaIngre" name="FechaIngre" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                 <label>Fecha Nacimiento</label>
                                                 <input type="date" class="form-control"id="FechaNac" name="FechaNac" 
                                                       required="true"/>
                                            </div>
                                           
                                            <div style="display:flex;justify-content: center">
                                                <button type="submit" class=" btn btn-success">
                                                <i class="fas fa-check"></i> guardar
                                                </button>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
