<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      >
    <head th:fragment="head">
        <title>LENGUAJES</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/rutinas.js}"></script>
    </head>
    <header th:fragment="header" class="header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand">Inicio</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <ul class="navbar-nav" sec:authorize="hasRole('ROLE_VENDEDOR')">
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/usuario/listado}">Usuario</a></li>

                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/proveedores/listado}">Proveedor</a></li>
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/tipoProducto/listado}">Tipo Producto</a></li>
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/empleados/listado}">Empleados</a></li>

                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/valoracion/listado}">Valoracion</a></li>
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/inventario/listado}">Inventario</a></li>
                        <li class="nav-item px-2"><a class="nav-link" th:href="@{/trabajos/listado}">Trabajos</a></li> 
                    </ul>
                </div>
            </div>
        </nav>
        <section id="main-header" class="py-2 bg-success text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1><i class="fas fa-cog"></i> PROYECTO LENGUAJES</h1>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <footer style="  height: 8%; position: absolute;width: 100%;background-color: #f35c2c; display: inline-flex; text-align: center; align-items: center;" class=" text-white mt-5 p-2">
        <div  class="container">
            <div class="col">
                <p class=" m-0 lead text-center">
                    Derechos reservados &COPY; Grupo #?
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
