<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Tipo de Trabajos</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section th:fragment="agregarTipoTrabajo">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form th:action="@{/tipoTrabajo/guardar}" method="post"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" id="idTipoTrabajo" name="idTipoTrabajo" th:value="${idUltimoTtrabajo}"/>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Agregar</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label>Nombre</label>
                                                <input type="text" class="form-control"id="nombre" name="nombre" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Requisitos</label>
                                                <input type="text" class="form-control"id="requisitos" name="requisitos" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Contenido</label>
                                                <input type="text" class="form-control"id="contenido" name="contenido" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Detalles</label>
                                                <input type="text" class="form-control"id="detalles" name="detalles" 
                                                       required="true"/>
                                            </div>
                                            <div style="display:flex;justify-content: center">
                                                <button type="submit" class=" btn btn-success">
                                                    <i class="fas fa-check"></i> Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
