<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
        <div class="container my-5">
            <div class="card">
                <div class="card-header">
                    <h2>Cursor Detalle del Proveedor</h2>
                </div>
                <div class="card-body">
                    <div th:utext="${proveedorDetails}"></div>
                </div>
            </div>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
