<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Listado</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section class="py-4 mb-4 bg-light">
            <div style="display: flex">
                <div class="col-md-3">   
                    <a th:href="@{/valoracion/agregar}"
                       class="mx-5 btn btn-success">
                        <i class='fas fa-add'></i> agregar
                    </a>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div style="display: flex">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Valoraciones</h4>
                            </div>
                            <div th:if="${valoraciones != null and !valoraciones.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Cliente</th>
                                            <th>Comentario</th>
                                            <th>Valoracion</th>
                                            <th>Fecha</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="valoracion, contador : ${valoraciones}">
                                            <td>[[${contador.count}]]</td>

                                            <td>[[${valoracion.idCliente}]]</td>
                                            <td>[[${valoracion.comentario}]]</td>
                                            
                                            <td>[[${valoracion.valoracion}]]</td>
                                            <td>[[${valoracion.fechaEmi}]]</td>
                                            
                                            <td>
                                                <a th:href="@{/valoracion/modificar/}+${valoracion.idValoracion}"
                                                   class="btn btn-success">
                                                    <i class='fas fa-pencil'></i> Modificar
                                                </a>
                                                <a th:href="@{/valoracion/eliminar/}+${valoracion.idValoracion}"
                                                   class="btn btn-danger">
                                                    <i class='fas fa-trash'></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${valoraciones == null or valoraciones.empty}">
                                <span>LISTA VACIA</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
                  <section class="my-5">
        <div class="container">
            <div style="display: flex">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>Vista Vehiculos</h4>
                        </div>
                        <div th:if="${vValoracion != null and !vValoracion.empty}">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Id del cliente</th>
                                        <th>Id del Empleado</th>
                                        <th>Comentario Fecha</th>
                                      
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="vValoraciones, contador : ${vValoracion}">
                                   
                                        <td>[[${vValoraciones.idValoracion}]]</td>
                                        <td>[[${vValoraciones.idCliente}]]</td>
                                        <td>[[${vValoraciones.comentario}]]</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section> 
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
