<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Listado</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section class="py-4 mb-4 bg-light">
            <div style="display: flex">
                <div class="col-md-3">   
                    <a th:href="@{/trabajos/agregar}"
                       class="mx-5 btn btn-success">
                        <i class='fas fa-add'></i> agregar
                    </a>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div style="display: flex">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Trabajos</h4>
                            </div>
                            <div th:if="${trabajos != null and !trabajos.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Id Tipo Trabajo</th>
                                            <th>Fecha</th>
                                            <th>Id Cliente</th>
                                            <th>Numero Placa</th>
                                            <th>Cantidad Productos</th>
                                            <th>idEmpleado</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="trabajo, contador : ${trabajos}">
                                            <td>[[${contador.count}]]</td>

                                            <td>[[${trabajo.idTipoTrabajo}]]</td>
                                            <td>[[${trabajo.fecha}]]</td>
                                            <td>[[${trabajo.idCliente}]]</td>
                                            <td>[[${trabajo.numPlaca}]]</td>
                                            <td>[[${trabajo.cantProductos}]]</td>
                                            <td>[[${trabajo.idEmpleado}]]</td>

                                            <td>
                                                <a th:href="@{/trabajos/modificar/}+${trabajo.idTrabajo}"
                                                   class="btn btn-success">
                                                    <i class='fas fa-pencil'></i> Modificar
                                                </a>
                                                <a th:href="@{/trabajos/eliminar/}+${trabajo.idTrabajo}"
                                                   class="btn btn-danger">
                                                    <i class='fas fa-trash'></i> Eliminar
                                                </a>
                                                 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${trabajos == null or trabajos.empty}">
                                <span>LISTA VACIA</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
                  <section class="my-5">
        <div class="container">
            <div style="display: flex">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Vista de los Trabajos</h4>
                        </div>
                        <div th:if="${VTrabajos != null and !VTrabajos.empty}">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Id del Trabajo a realizar</th>
                                        <th>Tipo de trabajo</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Vehiculo</th>
                                        <th>Cantidad de Productos</th>
                                        <th>Empleado</th>
                                        <th></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="vTra, contador : ${VTrabajos}">
                                       
                                        <td>[[${vTra.idTrabajos}]]</td>
                                        <td>[[${vTra.tipoTrabajo}]]</td>
                                        <td>[[${vTra.fecha}]]</td>
                                        <td>[[${vTra.cliente}]]</td>
                                        <td>[[${vTra.vehiculo}]]</td>
                                        <td>[[${vTra.cantidadProductos}]]</td>
                                        <td>[[${vTra.empleado}]]</td>
                                         <td>
                                                 <a th:href="@{/trabajos/cursor/}+${vTra.empleado}"
                                                   class="btn btn-warning">
                                                    <i class="fa-solid fa-database"></i> Cursor
                                                </a>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${VTrabajos == null or VTrabajos.empty}">
                            <span>LISTA VACIA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
        <div class="container my-5">
            <div class="card">
                <div class="card-header">
                    <h1>Última Fecha de Trabajo</h1>
                </div>
                <div class="card-body">
                   <p>Obtener Última Fecha: <span th:text="${ultimaFecha}"></span></p>
                </div>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
