<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Vehiculos</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section th:fragment="agregarVehiculos">
            <section class="py-4 mb-4 bg-light">
                <div style="display: flex">
                    <div class="col-md-3">   
                        <a th:href="@{/vehiculo/listado}"
                           class="mx-5 btn btn-primary">
                            <i class="fa-solid fa-arrow-left"></i> regresar
                        </a>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form th:action="@{/vehiculo/guardar}" method="post"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Agregar</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label>Número de Placa</label>
                                                <input type="text" class="form-control"  id="numPlaca" 
                                                       name="numPlaca"  required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Número de Motor</label>
                                                <input type="text" class="form-control"id="numMotor" name="numMotor" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Marca</label>
                                                <input type="text" class="form-control"id="marca" name="marca" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="idCliente">Cliente</label>
                                                <select name="idCliente" 
                                                        class="form-select" 
                                                        aria-label="Default select example">
                                                    <option th:each="c : ${clientes}" th:value="${c.idCliente}" th:text="${c.nombre}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label>Color</label>
                                                <input type="text" class="form-control"id="color" name="color" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Modelo</label>
                                                <input type="text" class="form-control"id="modelo" name="modelo" 
                                                       required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <label>Año</label>
                                                <input type="text" class="form-control"id="year" name="year" 
                                                       required="true"/>
                                            </div>
                                            <div style="display:flex;justify-content: center">
                                                <button type="submit" class=" btn btn-success">
                                                    <i class="fas fa-check"></i> Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
