<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Modificar</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section th:fragment="editarVehiculo">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form th:action="@{/vehiculo/actualizar}" method="post"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" id="id" name="id" th:value="${vehiculo_id}"/>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Actualizar</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <input type="text" class="form-control"  id="numMotor" 
                                                       name="numMotor" th:value="${vehiculo.numMotor}" required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control"id="marca" name="marca" 
                                                       th:value="${vehiculo.marca}" required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control"id="color" name="color" 
                                                       th:value="${vehiculo.color}" required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control"id="modelo" name="modelo" 
                                                       th:value="${vehiculo.modelo}" required="true"/>
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control"id="year" name="year" 
                                                       th:value="${vehiculo.year}" required="true"/>
                                            </div>
                                            <div style="display:flex;justify-content: center">
                                                <button type="submit" class=" btn btn-success">
                                                    <i class="fas fa-check"></i> Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
